<div>
	<form action="" method="post" @submit="update">
		<fieldset><legend>글수정</legend>
			<ul>
				<li>
					<label>
						작성자
						<input type="text" name="name" size="20" :value="bus.getData.name" autofocus>
					</label>
				</li>
				<li>
					<label>
						제목
						<input type="text" name="subject" size="80" :value="bus.getData.subject">
					</label>
				</li>
				<li>
					<label>
						내용
						<input type="text" name="content" size="80" :value="bus.getData.content">
					</label>
				</li>
			</ul>
			<button type="submit">전송</button>
			<button type="button" @click="bus.page='view'">취소</button>
		</fieldset>
	</form>
</div>