<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue + flask + mysql 게시판</title>
	<script src="/static/js/jquery-1.12.3.min.js"></script>
	<script src="/static/js/vue.min.js"></script>
</head>
<body>
<div id="app">
	<board-list v-if="bus.page == 'list'"></board-list>
	<board-write v-else-if="bus.page == 'write'"></board-write>
	<board-update v-else-if="bus.page == 'update'"></board-update>
	<board-view v-else-if="bus.page == 'view'"></board-view>
</div>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>